<ion-view view-title="Playlists">
    <ion-content scroll="false">
        <div style="width:80vw; float: left;">
            <div style="height: 25vh; width: 80vw;">
                <img src="https://upload.wikimedia.org/wikipedia/fr/a/a1/Logo-Fortum.jpg" width="100%" height="90%">
            </div>
            <div style="height: 75vh;">

            </div>
        </div>
        <div style="width: 20vw; float: right;">
            <img style="height: 100vh; width: 100%"
                 src="http://images.clipartpanda.com/grapes-vine-clipart-royalty-free-vector-of-a-green-grapes-vine-logo-by-lal-perera-7499.jpg"/>
        </div>


        <!--ion-list>
          <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            {{playlist.title}}
          </ion-item>
        </ion-list-->
    </ion-content>
</ion-view>
